<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<div class="container">
    <div class="sideBar">
      <button (click)="plot()" id="plot" class="rounded tooltip" [disabled]="!settings.pointsSet()">Plot
        <div class="tooltiptext">Click to plot points on the canvas</div>
      </button>
      <button (click)="reset()" id="reset" class="rounded tooltip" [disabled]="!settings.pointsSet()">Reset
        <div class="tooltiptext">Reset the canvas</div>
      </button>
      <app-status></app-status>
      <app-settings [settings]="settings"></app-settings>
</div>
<app-canvas style="margin:0" [settings]="settings"></app-canvas>
<app-histogram></app-histogram>


