
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightgray;
    margin: 5px;
    padding: 0px;
}

canvas {
    border: 1px solid darkblue;
    background-color: whitesmoke;
    cursor: crosshair;
}
.sideBar,.main {
    height: 100%;
}
.sideBar {
    float: left;
    width: auto;
    box-sizing:border-box
}
.container {
    box-sizing:border-box
}
.main{
    overflow:hidden
}
.title {
    margin: 0px;
}
.rounded {
    background-color: azure;
    border-radius: 15px 1px;
    padding: 10px;
    border-style: none;
    transition: all 100ms ease;
}

    .rounded:hover {
        transform: scale(1.1,1.1);
    }
#pointValue {
    width: 3em;
    float:right;
}
.hideIt {
    transform: translate(0,0px);
    transition-duration: 12ms;
    transition-delay: 0ms;

    transform: translate(0,30px);
    transition-duration: 2s;
    transition-delay: 300ms;
}
.showIt {
    transform: translate(0,-30px);
    transition-duration: 2s;
    transition-delay: 300ms;
        }   
